<!-- FEATURE DISCOVERY -->
<div class="fixed-action-btn">
    <a id="menu" class="btn btn-floating btn-large orange" onclick="$('.tap-target').tapTarget('open')">
      <i class="material-icons">menu</i>
    </a>
  </div>
  
  <div class="tap-target-wrapper">
    <div class="tap-target orange" data-activates="menu">
      <div class="tap-target-content white-text">
        <h5>Info App</h5>
        <p class="white-text">For detailed information about the Pipeline Project and all related applications, continue reading...</p>
      </div>
    </div>
    <div class="tap-target-wave">
      <a class="btn btn-floating btn-large orange tap-target-origin">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </div>

  <!-- Footer -->
  <footer class="page-footer blue darken-2">
  <!-- <footer class="page-footer black"> -->
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <!-- <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ducimus, hic id quod enim voluptate </p> -->
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="/">Home</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/solutions">Portfolio</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/signup">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright blue darken-2">
    <!-- <div class="footer-copyright black"> -->
      <div class="container">
        CBC &copy; 2018
        <a class="grey-text text-lighten-4 right" href="#!">Terms & Conditions</a>
      </div>
    </div>
  </footer>


  <!-- Login Modal -->
  <div id="login-modal" class="modal">
    <div class="modal-content">
      <h4>Account Login</h4>
      <p>Login to access your account dashboard</p>
      <form>
        <div class="input-field">
          <input type="email" id="email">
          <label for="email">Email</label>
        </div>
        <div class="input-field">
          <input type="password" id="password">
          <label for="password">Password</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close btn grey">
        <i class="fa fa-sync"></i> Reset Password</a>
      <a href="#!" class="modal-action modal-close btn blue">
        <i class="fa fa-lock"></i> Login</a>
    </div>
  </div>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.carousel.carousel-slider').carousel({ fullWidth: true, indicators: true });
      $('.materialboxed').materialbox();
      $('.collapsible').collapsible();
      $('.button-collapse').sideNav();
      $('.modal').modal();
      $('.slider').slider();
      $('.dropdown-button').dropdown({
        constrainWidth: false,
        hover: true,
        belowOrigin: true,
        alignment: 'left'
      });
    });
  </script>
</body>

</html>