<!DOCTYPE html>
<html>
  <head>
    <!-- Import Google Icon Font -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="icon" 
      type="image/png" 
      href="/assets/img/pipeline.png">
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"
    ></script>
    <!-- Import materialize.css -->
    <link
      type="text/css"
      rel="stylesheet"
      href="/assets/css/materialize.min.css"
      media="screen,projection"
    />
    <link type="text/css" rel="stylesheet" href="/assets/css/main.css" />

    <!-- Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pipeline</title>
  </head>

  <body>
    <!-- Header -->
    <header class="main-header">
      <div class="navbar-fixed">
        <nav class="white">
          <div class="container">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo blue-text bold">Pipeline</a>
              <a href="#" data-activates="mobile-nav" class="button-collapse">
                <i class="fa fa-bars"></i>
              </a>
              <ul class="right hide-on-med-and-down">
                <li><a class="active-link" href="/">Home</a></li>
                <li><a class="blue-text bold" href="/solutions">Portfolio</a></li>
                <li><a class="blue-text bold" href="/signup">Contact</a></li>
                <li>
                  <a href="#login-modal" class="btn blue modal-trigger"
                    >Login</a
                  >
                </li>
                <li>
                  <a class="blue-text" href="https://facebook.com">
                    <i class="fab fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a class="blue-text" href="https://twitter.com">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a class="blue-text" href="https://instagram.com">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
              <ul class="side-nav" id="mobile-nav">
                <h4 class="blue-text text-darken-4 center">Pipeline</h4>
                <li><div class="divider"></div></li>
                <li>
                  <a href="/">
                    <i class="fa fa-home grey-text text-darken-4"></i> Home</a
                  >
                </li>
                <li>
                  <a href="/solutions">
                    <i class="fa fa-cog grey-text text-darken-4"></i>
                    Portfolio</a
                  >
                </li>
                <li>
                  <a href="/signup">
                    <i class="fa fa-users grey-text text-darken-4"></i>
                    Contact</a
                  >
                </li>
                <li><div class="divider"></div></li>
                <li><a href="#login-modal" class="btn blue">Login</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>