<% include ./partials/header %>


    <!-- Showcase -->
    <div class="showcase container">
      <div class="row">
        <div class="col s12 m10 offset-m1 center">
          <h5>Building the Future</h5>
          <h1 class="bold">CBC First<span style="font-weight:normal">&trade;</span></h1>
          <h5>Building the Pipeline!</h5>
          <br>
          <br>
          <a class="btn btn-large waves-effect waves-light blue white-text bold" onclick="$('.tap-target').tapTarget('open')">Learn More</a>
          <!-- <a href="signup.html" class="btn btn-large blue white-text">Sign Up</a> -->
        </div>
      </div>
    </div>
  </header>

  <!-- Section: Icon Boxes -->
  <section class="section section-icons center top bottom" id="projects">
    <div class="container">
      <h1 class="blue-text center bottom bold">Project Pipeline</h1>
      <div class="row">
        <div class="col s12 m4">
          <a href="#sec-web">
          <div class="card-panel hoverable section-developers">            
            <i class="fa fa-desktop fa-3x white-text"></i>
            <h5 class="white-text">Web Development</h5>
            <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime dolor quas ab, sed dicta, temporibus alias dolores quibusdam tempore officia veniam vel, molestias corrupti laborum doloremque harum recusandae autem.</p>          
          </div>
          </a>
        </div>
        <div class="col s12 m4">
          <a href="#sec-int">
          <div class="card-panel hoverable section-yellow">            
            <i class="fa fa-newspaper fa-3x white-text"></i>
            <h5 class="white-text">Bank Intranet</h5>
            <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime dolor quas ab, sed dicta, temporibus alias dolores quibusdam tempore officia veniam vel, molestias corrupti laborum doloremque harum recusandae autem.</p>            
          </div>
          </a>
        </div>
        <div class="col s12 m4">
          <a href="#sec-por">
          <div class="card-panel hoverable section-red">            
            <i class="fa fa-server fa-3x white-text"></i>
            <h5 class="white-text">Portal Application</h5>
            <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime dolor quas ab, sed dicta, temporibus alias dolores quibusdam tempore officia veniam vel, molestias corrupti laborum doloremque harum recusandae autem.</p>            
          </div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <!-- Section: Developers -->
  <section class="section section-podcast white-text">
    <div class="primary-overlay valign-wrapper">
      <div class="container top bottom40" style="margin-bottom:40px;">
        <div class="row">
          <div class="col s12 center valign-wrapper">
            <h3 class="bold">Building the Future. Streamlined Scalable Solutions. Using The Right Tool For The Job. Building the Pipeline!</h3>
            <!-- <h4 class="bold">Streamlined Scalable Solutions Using The Right Tool For The Job Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, doloribus id. Odit natus libero ipsam ducimus voluptate quos cupiditate expedita.</h4> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Languages -->
  <!-- <section class="section section-language grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="row top bottom40">
          <div class="col s2">
            <img src="/assets/img/python-logo.png" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="/assets/img/ruby-logo.png" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="/assets/img/php-logo.png" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="/assets/img/node-logo.png" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="/assets/img/c-sharp-logo.png" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="/assets/img/java-logo.png" class="responsive-img" alt="">
          </div>
        </div>
      </div>
    </div>
  </section> -->



  <% include ./main/web %>
  <% include ./main/intranet %>
  <% include ./main/portal %>

  <!-- Section: About -->
  <section class="section section-about grey lighten-4">
    <div class="container bottom" style="margin-top: 100px;">
      <div class="row">
        <div class="col s12 m6">
          <h3>SEO</h3>
          <p class="flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio eum magnam aut at voluptates omnis sint reiciendis
            dolorem recusandae.</p>
        </div>
        <div class="col s12 m6">
          <img src="/assets/img/seo.jpg" alt="" class="responsive-img z-depth-3">
        </div>
      </div>
    </div>
  </section>
  <!-- Section: About -->
  <section class="section section-about grey lighten-4">
    <div class="container bottom" style="margin-top: 100px;">
      <div class="row">
        <div class="col s12 m6">
          <img src="/assets/img/visual.jpg" alt="" class="responsive-img z-depth-3">
        </div>
        <div class="col s12 m6">
          <h3>Visual Media</h3>
          <p class="flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio eum magnam aut at voluptates omnis sint reiciendis
            dolorem recusandae.</p>
        </div>
      </div>
    </div>
  </section>
<!-- Section: About -->
  <section class="section section-about grey lighten-4">
    <div class="container bottom" style="margin-top: 100px;">
      <div class="row">
        <div class="col s12 m6">
          <h3>UX / UI</h3>
          <p class="flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio eum magnam aut at voluptates omnis sint reiciendis
            dolorem recusandae.</p>
        </div>
        <div class="col s12 m6">
          <img src="/assets/img/ux.jpg" alt="" class="responsive-img z-depth-3">
        </div>
      </div>
    </div>
  </section>
    <!-- Section: About -->
  <section class="section section-about grey lighten-4">
    <div class="container bottom" style="margin-top: 100px;">
      <div class="row">
        <div class="col s12 m6">
          <img src="/assets/img/mobile.jpg" alt="" class="responsive-img z-depth-3">
        </div>
        <div class="col s12 m6">
          <h3>Mobile App Development</h3>
          <p class="flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio eum magnam aut at voluptates omnis sint reiciendis
            dolorem recusandae.</p>
        </div>
      </div>
    </div>
  </section>


  <!-- <div class="row white-text pull-down hide-on-med-and-down">

      <div class="col s4 valign-wrapper center section-podcast">
        <h5 class="bold padding-100">Streamlined Scalable Solutions. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, doloribus id. Odit natus libero ipsam. Using The Right Tool For The Job.</h5>
      </div>
      <div class="col s4 valign-wrapper center section-developers">
        <h5 class="bold padding-100">Streamlined Scalable Solutions. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, doloribus id. Odit natus libero ipsam. Using The Right Tool For The Job.</h5>
      </div>
      <div class="col s4 valign-wrapper center section-podcast">
        <h5 class="bold padding-100">Streamlined Scalable Solutions. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, doloribus id. Odit natus libero ipsam. Using The Right Tool For The Job.</h5>
      </div>

    </div> -->


<!-- FEATURE DISCOVERY -->
<!-- <div class="fixed-action-btn">
  <a id="menu" class="btn btn-floating btn-large green" onclick="$('.tap-target').tapTarget('open')">
    <i class="material-icons">menu</i>
  </a>
</div>

<div class="tap-target-wrapper">
  <div class="tap-target green" data-activates="menu">
    <div class="tap-target-content white-text">
      <h5>Info App</h5>
      <p class="white-text">For detailed information about the Pipeline Project and all related applications, continue reading...</p>
    </div>
  </div>
  <div class="tap-target-wave">
    <a class="btn btn-floating btn-large green tap-target-origin">
      <i class="material-icons">menu</i>
    </a>
  </div>
</div> -->


<% include ./partials/footer %>