<% include ./partials/header %>


      <!-- Showcase -->
      <div class="showcase container">
        <div class="row">
          <div class="col s12 m10 offset-m1 center">
            <h5>Building The Pipeline</h5>
            <h1 class="bold">Create An Account</h1>
            <a class="btn btn-large white waves-effect waves-orange blue-text darken-2 bold top" onclick="$('.tap-target').tapTarget('open')">Learn More</a>
          </div>
        </div>
      </div>
    </header>

    <!-- Section: Developers -->
  <section class="section section-podcast white-text pull-up">
      <div class="primary-overlay valign-wrapper">
        <div class="container top bottom40" style="margin-bottom:40px;">
          <div class="row">
            <div class="col s12 center valign-wrapper">
              <h3 class="bold">Building the Future. Streamlined Scalable Solutions. Using The Right Tool For The Job. Building the Pipeline!</h3>
              <!-- <h4 class="bold">Streamlined Scalable Solutions Using The Right Tool For The Job Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, doloribus id. Odit natus libero ipsam ducimus voluptate quos cupiditate expedita.</h4> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Signup -->
    <section class="section section-signup">
      <div class="container top bottom">
        <div class="card-panel" style="background: #F5F5F5 !important;">
        <div class="row top">
          <div class="col s12 m6 center">

              <h4>Contact Me</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                veniam id nisi dolor sit amet consectetur adipisicing elit. Doloribus
                veniam id nisi? Saepe sint ipsum distinctio molestiae, recusan? Saepe
                 sint ipsum distinctio molestiae, recusan?
              </p>
              <h4>Sign Up &amp; Stay Conected!</h4>
              <p class="bottom">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                veniam id nisi? Saepe sint ipsum distinctio molestiae, recusan?
              </p>

            <ul class="collapsible popout">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>Create an account</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                      veniam id nisi? Saepe sint ipsum distinctio molestiae, recusandae
                      autem sequi?</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Conect on social media</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                      veniam id nisi? Saepe sint ipsum distinctio molestiae, recusandae
                      autem sequi?</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Send an email</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
                      veniam id nisi? Saepe sint ipsum distinctio molestiae, recusandae
                      autem sequi?</span></div>
                </li>
              </ul>

          </div>
          <div class="col s12 m6">
            <!-- <div class="card-panel grey lighten-4 grey-text text-darken-4"> -->
            <div class="card-panel grey-text text-darken-4">
              <form class="bottom">
                <div class="input-field">
                  <input type="text" id="first_name" />
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field">
                  <input type="text" id="last_name" />
                  <label for="last_name">Last Name</label>
                </div>
                <div class="input-field">
                  <input type="email" id="email" />
                  <label for="email">Email</label>
                </div>
                <div class="input-field">
                  <input type="password" id="password" />
                  <label for="password">Password</label>
                </div>
                <div class="input-field">
                  <input type="text" id="company" />
                  <label for="company">Company</label>
                </div>
                <div class="input-field">
                  <select id="role">
                    <option value="" disabled selected>Select Role</option>
                    <option value="professional">Professional Developer</option>
                    <option value="hobbyist">Hobbyist</option>
                    <option value="student">Student</option>
                    <option value="manager">Manager</option>
                    <option value="other">Other</option>
                  </select>
                  <label for="role">Role</label>
                </div>
                <input
                  type="submit"
                  value="Send"
                  class="btn btn-large blue btn-extend top"
                />
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>



<% include ./partials/footer %>