<% include ./partials/header %>


      <!-- Showcase -->
      <div class="showcase container">
        <div class="row">
          <div class="col s12 m10 offset-m1 center">
            <h5>Projects built by me!</h5>
            <h1 class="bold">Website Portfolio</h1>
            <a class="btn btn-large white waves-effect waves-orange blue-text darken-2 bold top" onclick="$('.tap-target').tapTarget('open')">Learn More</a>
          </div>
        </div>
      </div>
    </header>


  <!-- Section: Developers -->
  <section class="section section-podcast white-text pull-up">
      <div class="primary-overlay valign-wrapper">
        <div class="container top bottom40" style="margin-bottom:40px;">
          <div class="row">
            <div class="col s12 center valign-wrapper">
              <h4 class="bold">Streamlined Scalable Solutions. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, doloribus id. Odit natus libero ipsam. Using The Right Tool For The Job.</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    
  <!-- Section: Gallery 1 -->
  <section class="section section-about">
    <div class="container" style="margin-top: 100px;">
      <div class="row">
        <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/assets/img/tech.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Website Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Website Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/assets/img/tech.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Website Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Website Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Gallery 2 -->
  <section class="section section-about">
    <div class="container top">
      <div class="row">
        <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/assets/img/tech.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Website Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Website Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/assets/img/tech.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Website Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Website Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Gallery 3 -->
  <section class="section section-about">
    <div class="container top">
      <div class="row">
        <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/assets/img/tech.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Website Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Website Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/assets/img/tech.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Website Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Website Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Gallery 4 -->
  <section class="section section-about">
    <div class="container top bottom">
      <div class="row">
        <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/assets/img/tech.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Website Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Website Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/assets/img/tech.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Website Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Website Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  
<!-- Section: Podcast -->
<!-- <section class="section section-podcast white-text" style="margin-top: -20px;"> -->
<section class="section section-podcast white-text">
    <div class="primary-overlay valign-wrapper">
      <div class="container">
        <div class="row">
          <div class="col s12 m8">
            <h4 class="bold">Website Portfolio</h4>
            <h5>Projects built by me!</h5>
          </div>
          <div class="col s12 m4">
            <a class="btn btn-large white waves-effect waves-orange blue-text darken-2 bold" onclick="$('.tap-target').tapTarget('open')">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>


    <!-- Section: Testimonial -->
    <section class="section section-testimonial white top bottom">
      <div class="container hoverable">
        <div class="row">
          <div class="col s12">
            <div class="carousel carousel-slider center">
              <div class="carousel-item red darken-2 white-text" href="#one!" style="padding:10px;">
                <h2>Testimonial 1</h2>
                <p class="flow-text">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat assumenda ad minima reiciendis vitae fuga,
                  dicta ipsa sit maxime aperiam quo animi expedita adipisci officia hic, odio omnis temporibus earum?"
                  <p>
                    <em>- John Doe From Microsystems</em>
                  </p>
                </p>
                <div class="carousel-fixed-item center hide-on-small-and-down">
                  <a href="/solutions" class="btn grey waves-effect ">Read More</a>
                </div>
              </div>
              <div class="carousel-item yellow darken-2 white-text" href="#two!" style="padding:10px;">
                <h2>Testimonial 2</h2>
                <p class="flow-text">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat assumenda ad minima reiciendis vitae fuga,
                  dicta ipsa sit maxime aperiam quo animi expedita adipisci officia hic, odio omnis temporibus earum?"
                  <p>
                    <em>- Mike SMith From Edge INC</em>
                  </p>
                </p>
                <div class="carousel-fixed-item center hide-on-small-and-down">
                  <a href="/solutions" class="btn grey waves-effect ">Read More</a>
                </div>
              </div>
              <div class="carousel-item green darken-2 white-text" href="#three!" style="padding:10px;">
                <h2>Testimonial 3</h2>
                <p class="flow-text">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat assumenda ad minima reiciendis vitae fuga,
                  dicta ipsa sit maxime aperiam quo animi expedita adipisci officia hic, odio omnis temporibus earum?"
                  <p>
                    <em>- Karen Williams from Techsoft</em>
                  </p>
                </p>
                <div class="carousel-fixed-item center hide-on-small-and-down">
                  <a href="/solutions" class="btn grey waves-effect ">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  <!-- Section: Solutions About -->
  <section class="section section-solutions-about">
    <div class="container">
      <div class="row">
        <div class="col s12 m5">
          <h2>What We Do...</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab
            corporis autem assumenda sed labore quo facere dolorum suscipit,
            fuga quam sequi id quaerat, perferendis unde quos soluta incidunt
            nostrum voluptatum?
          </p>
        </div>
        <div class="col s12 m6 offset-m1">
          <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s4">
                  <a href="#tab1" class="blue-text">Cloud Hosting</a>
                </li>
                <li class="tab col s4">
                  <a href="#tab2" class="blue-text">Cloud Storage</a>
                </li>
                <li class="tab col s4">
                  <a href="#tab3" class="blue-text">Cloud Database</a>
                </li>
              </ul>
            </div>
            <div id="tab1" class="col s12">
              <h5>Cloud Hosting</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt
                cupiditate aspernatur aliquam nobis dolorum quae assumenda
                nemo necessitatibus voluptates deserunt!
              </p>
            </div>
            <div id="tab2" class="col s12">
              <h5>Cloud Storage</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
                perferendis officia itaque necessitatibus et debitis non
                eveniet libero quaerat corporis, dignissimos quasi, voluptates
                sed minus eum pariatur tempore temporibus. Numquam.
              </p>
            </div>
            <div id="tab3" class="col s12">
              <h5>Cloud Database</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Minima fugiat, dolore blanditiis commodi velit dignissimos
                corporis quas modi qui, unde quasi iusto facilis quis in
                voluptatem neque aut cumque aliquid.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<% include ./partials/footer %>