<!-- Section: Podcast -->
<section class="section section-red white-text" id=sec-por>
  <div class="top valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m8">
          <h3 class="bold">Portal Application</h3>
          <h4>
            CBC First<span style="font-weight:normal">&trade;</span> Future
            Products:
          </h4>
        </div>
        <div class="col s12 m4">
          <a
            class="btn btn-large white waves-effect waves-orange red-link top"
            onclick="$('.tap-target').tapTarget('open')"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Features -->
<section class="section section-red white-text">
  <div class="container bottom">
    <!--
      <img
        class="materialboxed hide-on-small-only"
        width="650"
        src="../assets/img/code.jpg"
        style="margin-left:auto; margin-right:auto;"
      />
    -->

    <div class="slider z-depth-4">
      <ul class="slides">
        <li>          
          <img src="../assets/img/laptop-31.jpg" />
          <!-- <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">
              Here's our small slogan.
            </h5>
          </div> -->
        </li>
        <li>
          <img src="../assets/img/business-31.jpg" />
          
          <!-- <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">
              Here's our small slogan.
            </h5>
          </div> -->
        </li>
        <li>
          <img src="../assets/img/analysis-18.jpg" />
          
          <!-- <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">
              Here's our small slogan.
            </h5>
          </div> -->
        </li>
        <li>
            <img src="../assets/img/marketing-14.jpg" />
          
          <!-- <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">
              Here's our small slogan.
            </h5>
          </div> -->
        </li>
      </ul>
    </div>

    <!--
      <h4 class="blue-text text-darken-1 center bold">Web Development</h4>
      <h6 class="grey-text text-darken-2 center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eligendi?
      </h6>
      <br />
      <br />
    -->

    <!-- Row 1 -->
    <div class="row top">
      <div class="col s12 m4">
        <h5><i class="fa fa-user"></i> Unlimited Users</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          deserunt quo ipsum beatae rerum consequuntur maiores voluptates
          adipisci quaerat sint.
        </p>
      </div>
      <div class="col s12 m4">
        <h5><i class="fa fa-database"></i> Scalable Data</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          deserunt quo ipsum beatae rerum consequuntur maiores voluptates
          adipisci quaerat sint.
        </p>
      </div>
      <div class="col s12 m4">
        <h5><i class="fa fa-chart-line"></i> Data Analytics</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          deserunt quo ipsum beatae rerum consequuntur maiores voluptates
          adipisci quaerat sint.
        </p>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="row">
      <div class="col s12 m4">
        <h5><i class="fa fa-sign-language"></i> Github Integration</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          deserunt quo ipsum beatae rerum consequuntur maiores voluptates
          adipisci quaerat sint.
        </p>
      </div>
      <div class="col s12 m4">
        <h5><i class="fa fa-plus"></i> Add-ons</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          deserunt quo ipsum beatae rerum consequuntur maiores voluptates
          adipisci quaerat sint.
        </p>
      </div>
      <div class="col s12 m4">
        <h5><i class="fa fa-hdd"></i> Smart Storage</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          deserunt quo ipsum beatae rerum consequuntur maiores voluptates
          adipisci quaerat sint.
        </p>
      </div>
    </div>
    <div class="center top">
      <a href="/solutions" class="btn btn-large white red-link waves-effect"
        >View Portfolio</a
      >
      <br />
      <br />
      <h5>
        <span class="deep-blue-text text-lighten-1">Have a question? </span>
        Contact the web dev team!
      </h5>
      <p>webmaster@communitybankconnection.com</p>
    </div>
  </div>
</section>
